.other_box{
    width: 60%;
    height: 350px;
    margin: 0 auto;
    margin-top: 200px;
    .other_root{
        width: 100%;
        display: flex;
        .other_img{
            width: 100%;
        }
    }
}