.root {
  width: 30%;
  position: absolute;
  margin-left: 35%;
  .footerleft {
    text-align: center;
    font-size: 1.25rem;
    color: #888;
    width: 80%;
    font-family: Poppins, sans-serif;
    p {
      text-align: right;
      margin-top: 20px;
    }
  }
  .footerright {
    float: right;
    width: 50%;
    text-align: left;
    color: #888;
    position: relative;
    bottom: 50px;
    display: none;
    font-family: Poppins, sans-serif;
  }
}

@media screen and (max-width: 1215px) {
  .root {
    .footerleft {
      font-size: 10px;
      text-align: center;
      color: #888;
      width: 30%;
    }
    .footerright {
      position: relative;
      bottom: 55px;
      display: block;
    }
  }
}
@media screen and (max-width: 976px) {
  .root {
    .footerleft {
      font-size: 8px;
    }
    .footerright {
      position: relative;
      bottom: 80px;
    }
  }
}
@media screen and (max-width: 590px) {
  .root {
    .footerleft {
      font-size: 8px;
    }
    .footerright {
      position: relative;
      bottom: 100px;
    }
  }
}
@media screen and (max-width: 495px) {
  .root {
    .footerleft {
      font-size: 8px;
      width: 50%;
    }
    .footerright {
      position: relative;
      bottom: 120px;
      display: inline;
    }
  }
}
@media screen and (max-width: 335px) {
  .root {
    .footerleft {
      font-size: 8px;
      width: 100%;
    }
    .footerright {
      position: relative;
      bottom: 100px;
    }
  }
}