.application_root{
    .application_checkbox{
        margin:2vw auto 1vw auto;
    }
}

.update{
    width: 10%;
    height: 2vw;
}
.cancel{
    width: 10%;
    height: 2vw;
}
.buttonBox{
    margin: 1vw 0;
}

@media screen and (max-width:700px) {
    .root{
    h2{
        font-size: 25px;
    }
}
}