.root{
    span{
        font-size: 15px;
    }
    .input{
        width: 40%;
        height: 30px;
        border: 1px solid #dee2e6;
    }
    .textarea{
        border: 1px solid #dee2e6;
        
    }
}
.page1-update{
    width: 20%;
    height: 3vw;
}
.page1-cancel{
    width: 20%;
    height: 3vw;
}

@media screen and (max-width:1210px) {
    .root{
        .input{
            width: 80%;
            height: 30px;
            border: 1px solid #dee2e6;
        }
}
}