.root{
    .input{
        width: 50%;
        height: 30px;
        border: 1px solid #dee2e6;
    }
    .textarea{
        border: 1px solid #dee2e6;
        
    }
}
.page1-update{
    width: 20%;
    height: 3vw;
}
.page1-cancel{
    width: 20%;
    height: 3vw;
}