.header{
    width: 1000%;
    height: 150px;
    background-color:antiquewhite;
    position: relative;
    bottom: 20px;
    .companyName{
        font-family:'Courier New', Courier, monospace;
        text-align: center;
        color: white !important;
        line-height: 150px;
        max-width: 100%;
    }
}