.root {
  font-size: 25px;
  font-weight: 500;
  width: 90%;
  height: 100px;
  line-height: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #888;
}
.buttongroup{
  float: right;
  position: relative;
  bottom: 65px;
  margin-right: 100px;
}