.middle {
  width: 100%;
  color: #000;
  position: absolute;
  z-index: -1;
}
.form {
  float: right;
  width: 25vw;
  text-align: center;
  background-color: rgba($color: #fff, $alpha: 0.8);
  border: 1px solid #888;
  z-index: 999;
  margin-top: 3%;
  margin-right: 5%;
  p {
    font-size: 15px;
    text-align: left;
    color: #888;
    margin: 0;
  }
  .textField {
    width: 60%;
    height: 40px;
    background-color: white;
    border: 1px solid #888;
    padding-left: 10px;
    margin-left: 80px;
  }
}
.buttongroup {
  width: 50%;
  background-color: #ffffff;
  margin-left: 80px;
    .button {
    width: 100%;
    color: #fff;
    background-color: cornflowerblue;
    border: none;
    &:hover {
      width: 100%;
      color: #fff;
      background-color: cornflowerblue;
      border: none;
    }
  }
}
.link {
  text-decoration: none;
  font-size: 10px;
  margin-right: 200px;
  color: cornflowerblue;
  margin-left: 80px;
}