.root{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    position: absolute;
    bottom: 50px;
    .buttongroup{
        margin-bottom: 20px;
    }
    .footer{
        font-size: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #888;
    }
}

@media screen and (max-width:1320px) {
    .root{
        position: relative;
        top: 800px;
    }
    
}
@media screen and (max-width:1050px) {
    .root{
        position: relative;
        top:650px;
    }
    
}
@media screen and (max-width:650px) {
    .root{
        position: relative;
        top:500px;
    }
    
}